/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, menu 
						{background: transparent;border: 0;margin: 0; padding: 0; vertical-align: baseline;list-style:none}
body 					{line-height: 1;}
h1, h2, h3, h4, h5, h6 	{clear: both;font-weight: normal;}
ol, ul 					{list-style: none;}
blockquote 				{quotes: none;}
blockquote:before, blockquote:after {content: '';content: none;}
del 					{text-decoration: line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table 					{border-collapse: collapse;	border-spacing: 0;}

body  {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

ul.googleTab  {
	background: #000;
	padding:0 5px;
	font-size:13px;
	color:#3366cc;
	overflow:hidden;
}
ul.googleTab li	{
	float:left;
	padding:7px 8px;
	border-top:solid 2px #bad3ea;	
}
ul.googleTab li > a.active{
	color: red;
}
ul.googleTab li:hover	{
	background:#e4ebf8;
	cursor:pointer;
}
#container {
  width: 960px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}
#menu_container {
  width: 960px;
  margin: 0 auto;
}
h1 {
  padding: 10px 0;
  color: blue;
}
/* header styles */
header {
  margin: 0 0 15px 0;
  padding: 0;
  height: 100px;
  width: 960px;
}
table#header {
  border: none;
  width: 100%;
}
table#header tr, td {
  border: none;
}
table#header tr > td:first-child {
  width: 260px;
  text-align: center;
  vertical-align: middle;
}
.flash {
  display: block;
}
.error {
  color: red;
}
.success {
  color: green;
}
#right {
  float: right;
}
menu {
  background: #000;
  width: 100%;
  height: 30px;
}
menu ul {
  float: right;
  padding: 0;
  margin: 0;
}
menu li {
  padding-right: 10px;
  display: inline;
  text-decoration: none;
}
menu a {
  color: #fff;
  text-decoration: none;
}
menu a:hover {
  color: red;
  text-decoration: none;
}
menu a:active {
  color: red;
  text-decoration: underline;
}
div.user_box_left {
  float: left;
  background-color: #ccc;
  margin: 0 20px 20px 0;
  width: 260px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
div.user_box_left_content {
  background-color: white;
  margin: 10px 10px 20px 10px;
  padding: 5px;
  overflow: hidden;
}
div.user_box_left_content:first-child a {
  margin: 0 auto;
  text-decoration: none;
  color: red;
  font-weight: bold;
}
div.user_content {
  float: left;
  width: 680px;
}
/* Profile table on show user */
ul.profile {
  font-size: small;
  font-weight: bold;
}
ul.profile li {
  padding: 6px 0;
  line-height: 1.2;
}
ul.profile li:first-child {
  color: blue;
}
ul.profile span#blue {
  color: blue;
}
ul.profile a {
  text-decoration: none;
  color: red;
}

/* Login table */
table.login tr td {
  border: 0;
  padding: 4px 0;
}
table.login tr {
  border: 0;
}
table.login td:first-child {
  text-align: right;
}
table.users {
  width: 100%;
}
table.users tr {
  border: 1px solid lightgrey;
}
table.users th {
  background-color: black;
  color: white;
  padding: 2px;
}
table.users td {
  padding: 2px 6px;
}
table.users tr:nth-child(odd) {
  background-color: lightgrey;
}
table.user td {
  padding: 2px 10px;
}

table.bulletin {
  clear: both;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 5px;
}
table.bulletin td {
  padding: 2px 10px;
}
table.bulletin > tbody > tr:first-child {
  background-color: navy;
  color: white;
  font-size: 80%;
}
#bulletinactions {
  float: right;
}
#bulletinactions > a {
  color: white;
}
table.bulletin tr:nth-child(2) {
  background-color: lightgreen;
  font-weight: bold;
}
table.locations {
  width: 100%;
}
table.locations th {
  background-color: black;
  color: white;
  padding: 1px 10px;
}
table.locations td {
  padding: 1px 5px;
  border: 1px solid lightgrey;
}
table.locations tr:nth-child(even) {
  background-color: lightgrey;
}
table.locations td:last-child {
  width: 80px;
  text-align: center;
}
#ticketcount {
  float: right;
  font-size: small;
  font-weight: bold;
  padding: 2px 0;
}
#showmyticketslinks a {
  display: block;
  float: left;
  padding: 2px 40px 2px 0;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
#showmyticketslinks a:hover {
  color: blue;
}
.active {
  color: blue;
}
table.tickets {
  table-layout: fixed;
  width: 100%;
}
table.tickets td {
  padding: 6px 12px 6px 4px;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  font-size: small;
  overflow: hidden;
  white-space: nowrap
}
table.tickets tr:first-child {
  background-color: black;
  color: white;
}
table.tickets th:first-child {
  width: 300px;
}
table.tickets th:nth-child(2) {
  width: 80px;
}
table.tickets th:nth-child(3) {
  width: 200px;
}
table.tickets th:last-child {
  width: 100px;
}
table.tickets tr {
  border-collapse: collapse;
  border: 1px solid black;
}
table.tickets tr:nth-child(even) {
  background-color: #eee;
}
table.tickets a {
  text-decoration: none;
  color: black;
}
table.show_ticket {
  table-layout: fixed;
  width: 100%;
}
table.show_tickets td {
  margin:5px 0;
}
tr#ticketcommentform {
  height: 100%;
  display: none;
}
#ticketcomments, #hideticketcommentslink {
  display: none;
}
div#ticketcomment {
  display: block;
  padding: 10px;
  margin: 0;
  border-bottom: 4px solid grey;
}
div#ticketcomment h1 {
  font-size: small;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
div#ticketcomment p {
  padding: 2px 0 20px 10px;
}
table.knowledgebase tr:nth-child(2) {
  background-color: black;
  color: white;
}
table.knowledgebase th {
  padding: 2px;
}
table.knowledgebase td:nth-child(2) {
  width: 120px;
  text-align: center;
}
table.knowledgebase td:nth-child(3) {
  width: 80px;
  text-align: center;
}
tr.articles:nth-child(even) {
  background-color: lightgrey;
}
tr.articles td {
  padding: 2px;
}
footer {
  display: relative;
  height: auto;
}
#footer {
  display: block;
  border-top: 1px solid #000;
  margin: 0;
  text-align: center;
  font-size: small;
  font-weight: bold;
  background-color: #bbb;
  height: 120px;
  width: 100%;
}
#footer > p {
  padding: 10px 0;
  margin: 0;
}