<p>
<%= form_for(:article, :url => search_articles_path, :html => { :method => :get } ) do |a| %>
  <%= a.label "Knowledge Base" %><%= a.search_field :search, :size => "30" %>
  <%= a.submit "Search" %>
<% end %>
</p>