<p><strong>Name:</strong> <%= @location.name %></p>
<p><strong>Address:</strong> <%= @location.address %></p>
<p><strong>Field Tech:</strong> <%= @location.user.last_name %>, <%= @location.user.first_name %></p>